<section id="blythe">
	<h1>Blythe White</h1>
	<p>
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself. About text will go here and I will
		talk about myself. About text will go here and I will talk about myself.
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself.
	</p>
</section>
