---
import SiteSection from "../components/SiteSection.astro";
import SkillsContainer from "../components/SkillsContainer.astro";
import TechLogo from "../components/TechLogo.astro";
---

<SiteSection sectionName="skills">
	<p>
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself. About text will go here and I will
		talk about myself. About text will go here and I will talk about myself.
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself.
	</p>
	<SkillsContainer size="large" />
	<p>
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself. About text will go here and I will
		talk about myself. About text will go here and I will talk about myself.
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself.
	</p>
	<SkillsContainer size="large" />
	<p>
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself. About text will go here and I will
		talk about myself. About text will go here and I will talk about myself.
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself.
	</p>
	<SkillsContainer size="large" />
	<p>
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself. About text will go here and I will
		talk about myself. About text will go here and I will talk about myself.
		About text will go here and I will talk about myself. About text will go
		here and I will talk about myself.
	</p>
	<SkillsContainer size="large" />
</SiteSection>
