---
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/funnel-display";

import { contentWidth, basePadding, textColor } from "../colors";

import Navbar from "../components/Navbar.astro";
---

<div id="container">
	<Navbar />

	<main>
		<slot></slot>
	</main>
</div>

<style define:vars={{ contentWidth, basePadding, textColor }}>
	#container {
		font-family: "Source Code Pro Variable", "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;

		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;

		background-color: var(--backgroundColor);
		background-image: linear-gradient(
			147deg,
			var(--backgroundColor) 0%,
			#000000 100%
		);

		font-size: 18px;
		overflow-x: hidden;
	}

	main {
		width: var(--contentWidth);

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* iPhone SE */
	@media screen and (max-width: 800px) {
		main {
			width: 100%;
			//padding: calc(var(--basePadding) * 3);
		}

		#container {
			font-size: 16px;
		}
	}
</style>

<style is:global>
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0px;
		margin-bottom: calc(var(--basePadding));
		font-family: "Funnel Display Variable", system-ui;
		letter-spacing: 1px;
	}

	h1 {
		font-size: 112px;
		text-decoration: underline;
	}

	h2 {
		font-size: 60px;
		text-transform: capitalize;
		border-bottom: 4px dashed var(--textColor);
		width: fit-content;
		letter-spacing: 4px;
		margin-bottom: calc(var(--basePadding) * 2);
	}

	h3 {
		font-weight: bold;
		font-size: 40px;
	}

	h4 {
		font-weight: bold;
		font-size: 22px;
	}

	h5 {
		font-weight: 500;
		font-size: 20px;
		min-width: fit-content;
	}

	p {
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 1.3;
		margin-bottom: calc(var(--basePadding) * 3);
	}

	strong {
		font-weight: 600;
	}

	li {
		font-weight: 300;
		letter-spacing: 1px;
		margin-bottom: calc(var(--basePadding) * 2);
	}

	.glow {
		box-shadow: #dca1a1 0 0 10px;
	}

	/* iPhone SE */
	@media screen and (max-width: 800px) {
		h1 {
			font-size: 72px;
		}

		h2 {
			font-size: 48px;
		}

		h3 {
			font-size: 36px;
		}

		h5 {
			font-size: 24px;
			align-self: flex-end;
		}
	}
</style>
