---
import Analytics from "@vercel/analytics/astro";

import Container from "./Container.astro";

import { backgroundColor, textColor } from "../colors";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>blythe white</title>
	</head>
	<body>
		<Analytics />

		<Container>
			<slot></slot>
		</Container>

		<style is:global define:vars={{ backgroundColor, textColor }}>
			html,
			body {
				margin: 0;
				width: 100%;
				height: 100%;

				color: var(--textColor);

				background-color: var(--backgroundColor);
				background-image: linear-gradient(
					147deg,
					var(--backgroundColor) 0%,
					#000000 100%
				);
			}

			a {
				text-decoration: none;
			}
		</style>
	</body>
</html>
